<!DOCTYPE html>
<html>
  <head>
    <title>DatabaseLesson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/topnav'%>
    <%= form_with url: "/books", method: 'get' do |form|%>
      <%= form.label :query %>
      <%= form.text_field :query%>
      <%= form.submit :search%>
    <% end%>

    <% if flash[:errors] %>
      <section id="errors">
          <% flash[:errors].each do |error|%>
          <p><%= error %></p>
          <% end%>
      </section>
    <% end %> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
